{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Thank You for your order!</h2>
                <hr>
                <p class="">Please find your order info below. A email confirmation has been sent to {{ order.email }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-right">
                <a href="{% url 'products' %}" class="btn rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-fish"></i>
                    </span>
                    <span class="">Fish out another deal!</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
