html {
    height: 100%;
}

body {
    background: url('/media/hero-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: column;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#logo {
    display: inline-block;
    height: auto;
    width: 160px;
}

.main-logo-link {
    width: fit-content;
}

.hero-text {
    font-family: 'Goldman', sans-serif;
}

.shop-now-button {
    background-color: #00478F;
    color: #FFEB24;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #00478F;
    color: #FFEB24;
}
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #00478F !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #00478F !important;
    color: #FFEB24 !important;
}

/*
 
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    margin-top: auto;
    background-color: #00478F;
    color: #FFEB24;
    text-align: center;
    
  }

  .footer-bottom {
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
  }

  */
  

/* ..................... Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}