<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tackle-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tackle
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tackle-link">
                <a href="{% url 'products' %}?category=rods_and_stands" class="dropdown-item">Rods & Stands</a>
                <a href="{% url 'products' %}?category=reels" class="dropdown-item">Reels</a>
                <a href="{% url 'products' %}?category=traces" class="dropdown-item">Traces</a>
                <a href="{% url 'products' %}?category=rods_and_stands,reels,traces" class="dropdown-item">All Tackle</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bait-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bait
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bait-link">
                <a href="{% url 'products' %}?category=live" class="dropdown-item">Live</a>
                <a href="{% url 'products' %}?category=frozen" class="dropdown-item">Frozen</a>
                <a href="{% url 'products' %}?category=dried" class="dropdown-item">Dried</a>
                <a href="{% url 'products' %}?category=live,frozen,dried" class="dropdown-item">All Bait</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=boots_wellies" class="dropdown-item">Boots &amp; Wellies</a>
                <a href="{% url 'products' %}?category=jackets_pants" class="dropdown-item">Jackets &amp; Pants </a>
                <a href="{% url 'products' %}?category=gloves_hats" class="dropdown-item">Gloves &amp; Hats</a>
                <a href="{% url 'products' %}?category=boots_wellies,jackets_pants,gloves_hats" class="dropdown-item">All Clothing</a>
            </div>
        </li>
    </ul>
</div>